
/*-----------main--------------*/

.main{
  background-color:  rgb(65, 6, 101);
  overflow-X: hidden;
  color: white;
}
.heading{
  width:50%;
  border-bottom-right-radius:100vh;
  border-bottom-left-radius:100vh;
  color: #fce40a;
}
.jumbotron{
  background: url(../../assets/images/home2-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  background-color: white;
  border-bottom-right-radius: 90%;
  border-bottom-left-radius: 90%;
  min-height: 50vh;
}
.jumbotron .info{
  margin-left: 5vw;
  color: black;
}
@media (max-width: 767.98px) {
  .jumbotron{
    background-position: right bottom;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    min-height: 30vh;
  }
  .jumbotron h1{
    font-size: 30px;
    padding-top: 3vh;
  }
  .jumbotron .info{
      margin-left: 0vw!important;
  }
  .timeline .timeline-icon{
    margin-top: 2vh;
  }
  .heading{
    width:60%;
    border-bottom-right-radius:5vh;
    border-bottom-left-radius:5vh;
  }
}

/*---------home----------*/
.home{
  min-height: 100vh;
}
.home-register-btn{
  padding: 2%;
  background:  rgb(50, 5, 78);
  border: none;
  color: whitesmoke;
  font-weight: bolder;
  font-size: x-large;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.home-register-btn:hover{
  transform: scale(1.05);
  background:  whitesmoke;
  color: rgb(50, 5, 78);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);

}

/*-----Carousel------------*/
.carousel{
  overflow-x: hidden;
  background: transparent!important;
}

.carousel-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly!important;
}
.carousel-item{
  padding: 1%;
  flex: 0 0 33.333333%!important;
}

/*---------timeline------*/

.timeline{
  margin-bottom: 1%;
  color: black;
}
.timeline .timeline-icon{
margin-top: 3vh;
}

/*---------feature------------*/
.feature-fragment{
  background: rgb(50, 5, 78)!important;
  width: 100%;
}
.feature-icon{
  border-bottom-left-radius:30% ;
  border-top-right-radius:30% ;
  margin: 1;
  height: 3vh;
  width: 5vh;
  background: white;
  color: rgb(65, 6, 101);
  
}
  
/*--------------consultants---------*/
.info-img{
  transform: scale(1);
  transition: transform 0.5s ease;
}

.info-img:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-sicon-instagram,.info-sicon-linkedin,.info-sicon-whatsapp{
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.info-sicon-instagram:hover,.info-sicon-linkedin:hover,.info-sicon-whatsapp:hover{
  transform: scale(1.05);
  border-radius: 40%;
}
.info-sicon-instagram{
  background: radial-gradient(circle,red, rgba(255, 0, 0, 0.548), rgba(255, 0, 0, 0.13));
  color:white;
}
.info-sicon-linkedin{
  background: radial-gradient(circle,blue, rgba(0, 0, 255, 0.548),rgba(0, 0, 255, 0.13));
  color:white;
}
.info-sicon-whatsapp{
  background: radial-gradient(circle,green, rgba(0, 128, 0, 0.548), rgba(0, 128, 0, 0.13));
  color:white;
}
 