
/*-----------main--------------*/

.main{
  background-color:  #0F6C7A;
  overflow-X: hidden;
  color: #ADE379;
}
.heading{
  width:50%;
  border-bottom-right-radius:100vh;
  border-bottom-left-radius:100vh;
  color: #ADE379!important;
}
.jumbotron{
  background: url(../../assets/images/home2-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  background-color: #ADE379;
  border-bottom-right-radius: 90%;
  border-bottom-left-radius: 90%;
  min-height: 50vh;
}
.jumbotron .info{
  margin-left: 7vw;
  color: #06373f;
}

.jumbotron h1{
  font-weight: bolder;
}

@media (max-width: 767.98px) {
  .jumbotron{
    background-position: right bottom;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    min-height: 30vh;
  }
  .jumbotron h1{
    font-size: 30px;
    padding-top: 3vh;
  }
  .jumbotron .info{
      margin-left: 0vw!important;
  }
  .timeline .timeline-icon{
    margin-top: 2vh;
  }
  .heading{
    width:60%;
    border-bottom-right-radius:5vh;
    border-bottom-left-radius:5vh;
  }
}


/*---------home----------*/
.home{
  min-height: 100vh;
  color: #ADE379;
  font-family:'JosefinSans-Italic';
}
.home-register-btn{
  padding: 2%;
  background:  #074b55;
  border: none;
  color: #ADE379;
  font-weight: bolder;
  font-size: x-large;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.home-register-btn:hover{
  transform: scale(1.05);
  background:  #ADE379;
  color: #0F6C7A;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/*-----Carousel------------*/
.carousel{
  overflow-x: hidden;
  background: transparent!important;
}

.carousel-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly!important;
}

.carousel-item{
  padding: 1%;
  flex: 0 0 33.333333%!important;
}
.con-car .carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color:#b0dd87;
  font-weight: bolder;
}

.con-car .carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  color:#b0dd87;
  font-weight: bolder;
}

/*---------timeline------*/

.timeline{
  margin-bottom: 1%;
  color: #074b55;
}
.timeline .timeline-icon{
margin-top: 3vh;
}

.timeline-fragment h1{
  font-family:'Pacifico-Regular';
}

.timeline h3{
  font-family:'JosefinSans-Italic';
}

.timeline p{
  font-family:'JosefinSans-Italic';
}

/*---------feature------------*/
.feature-fragment{
  background: #074b55!important;
  width: 100%;
  border-radius: 1%;
}
.feature-icon{
  border-bottom-left-radius:30% ;
  border-top-right-radius:30% ;
  margin: 1;
  height: 3vh;
  width: 5vh;
  background: white;
  color: #074b55;
  
}

.feature-fragment h1{
  font-family:'Pacifico-Regular';
}

.feature-fragment p{
  font-family:'JosefinSans-Italic';
}

  
/*--------------consultants---------*/
.info-img{
  transform: scale(1);
  transition: transform 0.5s ease;
  height: 200px;
width: 200px;
}

.info-img:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-content h3{
  color: #b0dd87!important;
  font-family:'JosefinSans-Italic';
}
.info-content h2{
  color: #8ae237!important;
}
 
.consultants-fragment h1{
  font-family:'Pacifico-Regular';
}