
/*-----------main--------------*/

.main{
  background-color:  rgb(65, 6, 101);
    overflow-X: hidden;
    color: white;
}

.jumbotron{
  background: url(../../assets/images/home2-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  background-color: white;
  width: 95%;
}
.jumbotron .info{
  margin-left: 5vw;
  color: black;
}
@media (max-width: 767.98px) {
  .jumbotron{
      background: url(../../assets/images/home2.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right bottom;
      background-color: white;
  }
  .jumbotron .info{
      margin-left: 0vw!important;
  }
  .timeline .timeline-icon{
    margin-top: 2vh;
  }
}

/*---------home----------*/
.home-register{
  background-image: url(../../assets/images/Consultation2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  mix-blend-mode: screen;
}

/*-----Carousel------------*/
.carousel{
  overflow-x: hidden;
  background: transparent!important;
}
.carousel-indicators li{
  opacity: 0!important;
}

/*---------timeline------*/

.timeline{
  margin-bottom: 1%;
  color: black;
}
.timeline .timeline-icon{
margin-top: 3vh;
}

/*---------feature------------*/
.feature-icon{
  border-bottom-left-radius:30% ;
  border-top-right-radius:30% ;
  margin: 1;
  height: 3vh;
  width: 5vh;
  background: white;
  color: rgb(65, 6, 101);
}
  
/*--------------consultants---------*/
.info-img{
  transform: scale(1);
  transition: transform 0.5s ease;
}

.info-img:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-sicon-instagram,.info-sicon-linkedin,.info-sicon-whatsapp{
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.info-sicon-instagram:hover,.info-sicon-linkedin:hover,.info-sicon-whatsapp:hover{
  transform: scale(1.05);
  border-radius: 40%;
}
.info-sicon-instagram{
  background: radial-gradient(circle,red, rgba(255, 0, 0, 0.548), rgba(255, 0, 0, 0.13));
  color:white;
}
.info-sicon-linkedin{
  background: radial-gradient(circle,blue, rgba(0, 0, 255, 0.548),rgba(0, 0, 255, 0.13));
  color:white;
}
.info-sicon-whatsapp{
  background: radial-gradient(circle,green, rgba(0, 128, 0, 0.548), rgba(0, 128, 0, 0.13));
  color:white;
}
 