.footer .col-12{
    padding-right: unset !important;
    padding-left: unset !important;
  }
  
.footer .row{
    margin-right: unset !important;
    margin-left: unset !important;
  }

a{
    color: #bfbec0;  
}

a:hover{
    color: rgb(185, 252, 1); 
    text-decoration: none; 
}

h5{
    color: rgb(185, 252, 1);  
}

.socic{
    margin-top: 10%;
}

.socic a{
    background-color: #bfbec0;
    border-radius: 50%;
    height:46px;
    width:46px;
    border: 3px solid black;
    font-size: 18px;
}

.socic a:hover{
    background-color: rgb(185, 252, 1);
}

.footer{
    background: #0F6C7A;
    color: #bfbec0;
}

.cright{
    background: black;
    color:white;
}

.fback{
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: rgb(68, 66, 66);
}

.boxbottom{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #bfbec0;
    border: 3px solid black;
    font-weight: bolder;
    border-radius: 6px;
}

.boxbottom:hover{
    background-color: rgb(185, 252, 1);
}

.display-4{
    font-family:'Pacifico-Regular';
    color: #0F6C7A;
}

.lead{
    font-family:'JosefinSans-Italic';
}

.socicmodal a{
    background-color:  rgb(185, 252, 1);
    border-radius: 50%;
    height:46px;
    width:46px;
    border: 3px solid #0F6C7A;
    font-size: 18px;
    color: #0F6C7A;
}

.socicmodal a:hover{
    background-color: #0F6C7A;
    color: rgb(185, 252, 1);
    border-color: rgb(185, 252, 1);
}

.btn-primary{
    background-color:  #0F6C7A;
    color:rgb(185, 252, 1) ;
    font-weight: bolder; 
}

.btn-primary:hover{
    background-color: rgb(185, 252, 1);
    color: #0F6C7A;
}
