.line-1{
  color: black; 
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0.692);
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    padding-bottom: 6px;
}

.testcontainer{
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.caroucard{
    width: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20%;
    color: black;
}

.img-thumbnail{
    border-radius: 50%;
}

.carousel-indicators li{
    background-color: black !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
  font-weight: bolder;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color:black;
  font-weight: bolder;
}

.testimonial{
  background-color: rgba(255, 255, 255, 0.692);
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
}

.whiteoverlay{
  background-image: url('../assets/images/bookbg.jpeg'); 
}