body{
    overflow-x: hidden;
}

.particlebg .col-12{
    padding-right: unset !important;
    padding-left: unset !important;
}

.particlebg .row{
    margin-right: unset !important;
    margin-left: unset !important;
}

.a1{
    background-image: url("../assets/images/a1bn.svg"); 
    color: black;
    background-size: 100% 100%;
}

.a2{
    background-image: url("../assets/images/a2b.svg");
    color: black;
    background-size: 100% 100%;
}

.a3{
    background-image: url("../assets/images/a3b.svg");
    color: black;
    background-size: 100% 100%;
}

.a4{
    background-image: url("../assets/images/a4b.svg");
    color: black;
    background-size: 100% 100%;
}

.a1 .col{
    padding-top: 25vw;
    padding-bottom: 15vw;
}

.a2 .col{
    padding-top: 15vw;
    padding-bottom: 15vw;
}

.a3 .col{
    padding-top: 15vw;
    padding-bottom: 15vw;
}

.a4 .col{
    padding-top: 15vw;
    padding-bottom: 15vw;
}

.a1i{
    padding-top: 8vw;
    padding-bottom: 8vw;
}

.a2i{
    padding-top: 8vw;
    padding-bottom: 8vw;
}

.a3i{
    padding-top: 8vw;
    padding-bottom: 8vw;
}

.a4i{
    padding-top: 8vw;
    padding-bottom: 8vw;
}


.btn-secondary{
background-color:#0F6C7A  !important ;
color: white;
border:3px solid black;
font-size: 1.3vw;
margin-left: 70% !important;
border-radius: 6px;
font-weight: bold;
padding: 2px 4px ;
}

.btn-secondary:hover{
    color: black !important;
    background-color: white !important;
}

.green{
    color: #0F6C7A  ;  
}

.particlebg{
    background-color:  #0F6C7A;
}

.particlebg h2{
    font-size: 2.3vw;
    font-family:'JosefinSans-Italic';
    font-weight: bolder;
}

.particlebg p{
    font-size: 1.3vw;
    font-family:'JosefinSans-Italic';
}

.particlebg h5{
    color: rgb(185, 252, 1);
    font-size: 1.3vw;
}

.particlebg h1{
    color: white;
    font-size: 3vw;
    font-family:'JosefinSans-Italic';
}

.box{
    border: 4px solid  rgb(185, 252, 1);
    background-color:  #0F6C7A;
    font-weight: bold;
    color: rgb(185, 252, 1);
    padding: 2px 4px ;
}

.box:hover{
    background-color: rgb(185, 252, 1);
    color:  black;
    border-color: black;
    cursor: pointer;
}

.socictop{
    padding-top: 8vw;
}

.socictop a{
    border: 3px solid rgb(185, 252, 1);
    border-radius: 50%;
    height:46px;
    width:46px;
    margin-bottom: 30px;
    color: rgb(185, 252, 1);
}

.socictop a:hover{
    background-color: rgb(185, 252, 1);
    border-color: black;
}

.r1{
    height: 10vw;
}

.r2{
    height: 25vw;
}

.r3{
    height: 10vw;
}

.descund{
    border-bottom: 1px solid black;
    font-size: 1.3vw;
}

.gre{
    color: rgb(185, 252, 1);
}

@media screen and (max-width : 992px){

    .particlebg h5{
        font-size: 2.8vw;
    }
    
    .particlebg h1{
        font-size: 6vw;
    }

    .descund{
        font-size: 2.8vw;
    }

    .r2{
        height: 50vw;
        padding-top: 30vw;
    }

    .a1a{
        height:80vw;
    }
    .a1b{
        height:80vw;
    }

    .particlebg h2{
        font-size: 4.8vw;
    }
    
    .particlebg p{
        font-size: 2.8vw;
    } 
    
    .box{
        font-size: 2.8vw;
    }

    .a1 .col{
        padding-top: 20vw;
        padding-bottom: 20vw;
    }
    
    .a2 .col{
        padding-top: 20vw;
        padding-bottom: 20vw;
    }
    
    .a3 .col{
        padding-top: 20vw;
        padding-bottom: 20vw;
    }
    
    .a4 .col{
        padding-top: 20vw;
        padding-bottom: 20vw;
    }

    .a1{
        background-image: url("../assets/images/blob1.svg");
    }

    .a2{
        background-image: url("../assets/images/blob.svg");
    }
    
    .a3{
        background-image: url("../assets/images/blob.svg");
    }

    .a4{
        background-image: url("../assets/images/blob.svg");
    }

    .btn-secondary{
        font-size: 2.8vw;
        }
}

@media screen and (max-width : 576px){

    .particlebg h5{
        font-size: 3.8vw;
    }
    
    .particlebg h1{
        font-size: 7vw;
    }

    .descund{
        font-size: 3.8vw;
    }

    .r2{
        height: 80vw;
        padding-top: 50vw;
    }

    .a1a{
        height:80vw;
    }
    .a1b{
        height:120vw;
    }

    .particlebg h2{
        font-size: 5.8vw;
    }
    
    .particlebg p{
        font-size: 3.8vw;
    }  

    .btn-secondary{
        font-size: 3.8vw;
        margin-left: 60% !important;
        }

    .box{
        font-size: 3.8vw;
    }    

}