.yellowbg .col-12{
  padding-right: unset !important;
  padding-left: unset !important;
}

.yellowbg .row{
  margin-right: unset !important;
  margin-left: unset !important;
}

.line-1{
  color: black; 
    padding-left: 5%;
}

.testcontainer{
    color: black;
}

.caroucard{
    width: 60%;
    margin-left: 20%;
    color: black;
    margin-bottom: 60px;
}

.img-thumbnail{
    border-radius: 50%;
    border-color: #0F6C7A;
    background-color: #0F6C7A;
}

.carousel-indicators li{
    background-color: black !important;
    opacity: 1 !important;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.carousel-indicators .active{
background-color: white !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: #0F6C7A;
  font-weight: bolder;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color:#0F6C7A;
  font-weight: bolder;
}


.whiteoverlay{
  background-color:#ADE379; 
}

.yellowbg{
  background-color: #ADE379; 
}


.testcontainer h1{
  font-size: 2.8vw;
  font-family:'Pacifico-Regular';
}

.testcontainer h2{
  font-size: 1.8vw;
  color: #0F6C7A;
  font-family:'JosefinSans-Italic';
  font-weight: bolder;
}

.testcontainer h4{
  font-size: 1.3vw;
  color:  rgb(68, 66, 66);
}

.testcontainer p{
  font-size: 1.3vw;
  font-family:'JosefinSans-Italic';
}

@media screen and (max-width : 992px){

  .img-thumbnail{
margin: auto;
}

  .testcontainer h1{
    font-size: 5.3vw;
  }
  
  .testcontainer h2{
    font-size: 3.3vw;
    text-align: center;
  }
  
  .testcontainer h4{
    font-size: 2.8vw;
    text-align: center;
  }
  
  .testcontainer p{
    font-size: 2.8vw;
    text-align: center;
  }

}

@media screen and (max-width : 576px){

  .img-thumbnail{
    width: 100px;
    margin-bottom: 10px;
  }

  .testcontainer h1{
    font-size: 6.8vw;
  }
  
  .testcontainer h2{
    font-size: 4.3vw;
  }
  
  .testcontainer h4{
    font-size: 3.8vw;
  }
  
  .testcontainer p{
    font-size: 3.8vw;
  }

}  