
.temp .col-12{
    padding-right: unset !important;
    padding-left: unset !important;
}

.temp .row{
    margin-right: unset !important;
    margin-left: unset !important;
}

.yelside{
   background-color: #ADE379;
   min-height: 100vh; 
}

.yelside .middle1{
    margin-top: 40vh;
}

.bluside{
    background-color: #0F6C7A;
    min-height: 100vh; 
    color: white;
}

.bluside .middle2{
    margin-top: 15vh;
}

.temp p{
    font-family:'JosefinSans-Italic';
    font-weight: bold;
}

.temp h1{
    font-family:'JosefinSans-Italic';
}

.button-wrapper {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.launchsubscribe{
    /* border: 4px solid  rgb(185, 252, 1); */
    background-color:  #0F6C7A;
    font-weight: bold;
    color: rgb(185, 252, 1);
    padding: 10px 15px ;
    /* margin-left: 35%; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgb(185, 252, 1);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

}

.launchsubscribe:hover{
    /* background-color: rgb(185, 252, 1);
    color:  black;
    border-color: black;
    cursor: pointer; */
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(185, 252, 1, 0.5), 0 0 20px rgba(185, 252, 1, 0.2);
    outline-color: rgb(185, 252, 1);
    outline-offset: 10px;
    text-shadow: 1px 1px 2px #427388; 
}

@media screen and (max-width : 576px){

    .yelside .middle1{
        margin-top: 20vh;
    }

    .launchsubscribe{
        /* margin-left: 20%; */
    }
}

/* Component for tensors exam right side component */

.home-register-btn{
    padding: 2%;
    background:  #074b55;
    border: none;
    color: #ADE379;
    font-weight: bolder;
    font-size: x-large;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.home-register-btn:hover{
    transform: scale(1.05);
    background:  #ADE379;
    color: #0F6C7A;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.price-span{
    color: white;
    margin-left: 2%;
    font-size: small;
    padding: 0;
}


  .countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-item {
	color: white;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    line-height: 30px;
	margin: 10px;
    padding-top: 10px;
	position: relative;
	width: 100px;
	height: 100px;
}

.countdown-item span {
	color: white;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.countdown-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.img-border {
    outline: #ADE379 5px solid;
    outline-offset: 10px;
    margin: 15px;
}