
.temp .col-12{
    padding-right: unset !important;
    padding-left: unset !important;
}

.temp .row{
    margin-right: unset !important;
    margin-left: unset !important;
}

.yelside{
   background-color: #ADE379;
   min-height: 100vh; 
}

.yelside .middle1{
    margin-top: 40vh;
}

.bluside{
    background-color: #0F6C7A;
    min-height: 100vh; 
    color: white;
}

.bluside .middle2{
    margin-top: 20vh;
}

.temp p{
    font-family:'JosefinSans-Italic';
    font-weight: bold;
}

.temp h1{
    font-family:'Pacifico-Regular';
}

.launchsubscribe{
    border: 4px solid  rgb(185, 252, 1);
    background-color:  #0F6C7A;
    font-weight: bold;
    color: rgb(185, 252, 1);
    padding: 2px 4px ;
    margin-left: 35%;
}

.launchsubscribe:hover{
    background-color: rgb(185, 252, 1);
    color:  black;
    border-color: black;
    cursor: pointer;
}

@media screen and (max-width : 576px){

    .yelside .middle1{
        margin-top: 20vh;
    }

    .launchsubscribe{
        margin-left: 20%;
    }

}